html {
    height: 100%;
    width: 100%;
}

body {
    background: #000 no-repeat center;
    color: #fff;
    overflow: hidden;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

#feature_image {
    position: absolute;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: -1;
}
/*
#transition {
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    height: 100%;
    width: 100%;
}*/

#containa {
    top: 0;
    margin: 0 auto;
    float: middle;
    width: 100px;
    height: 40px;
    background: rgba(0,0,0,0.7);
    border-radius: 15px;
    display: none;
}

#textybits {
    width: 100%;
    height: 66%;
    padding-top: 6px;
    text-align: center;
}

.nobits {
    text-decoration: none;
    color: white;
}

#top10 {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    background-color: rgba(0,0,0,0.7);
    display: inline-block;
    border-radius: 20px;
}

.header {
    font-weight: bold;
    font-size: 2em;
}
#top10 table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
}
#top10 table {
    width: 550px;
    margin-left: 25px;
    margin-bottom: 25px;
}
.hl {
    color: red;
    font-size: 1.5em;
}
#top10 tr:nth-child(even) {
    color: #555;
    background: #EEE;
}
#top10 tr:nth-child(odd) {
    color: #000;
    background: #CCC;
}

/*
     FILE ARCHIVED ON 21:28:15 Dec 15, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:15:04 Jun 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.581
  exclusion.robots: 0.066
  exclusion.robots.policy: 0.056
  esindex: 0.009
  cdx.remote: 11.099
  LoadShardBlock: 134.379 (3)
  PetaboxLoader3.datanode: 302.428 (6)
  load_resource: 479.197 (2)
  PetaboxLoader3.resolve: 203.516 (2)
  loaddict: 118.33
*/
